<p>wall works!</p>

<span>Вводимые символы отрисовываются под инпутом: </span>
<input #textbox (keyup)="onKeyup(textbox.value)">
<p>
  <span>Используется переменная ссылки шаблона без двухсторонней привязки: </span>
  <span>{{ messageFromTextbox }}</span>
</p>

<!--(keyup.enter) - привязка обработчика на нажатие по клавише Enter-->
<span>Символы отрисовываются после нажатия на ввод: </span>
<input #textboxKeypress (keyup.enter)="onKeyupKeypress(textboxKeypress.value)">
<p>
  <span>Используется привязка обработчика на нажатие по клавише ввод: </span>
  <span>{{ messageKeypress }}</span>
</p>

<!--(blur)="onKeyupTwoEvents(textboxTwoEvents)" - обработчик на событие потери фокуса-->
<span>Обработчик на события потери фокуса и нажатие ввода: </span>
<input #textboxTwoEvents
  (keyup.enter)="onKeyupTwoEvents(textboxTwoEvents.value)"
  (blur)="onKeyupTwoEvents(textboxTwoEvents.value)">
<p>
  <span>Привязка обработчика на потерю фокуса и нажатие ввода: </span>
  <span>{{ messageTwoEvents }}</span>
</p>

<h4>Заполняемый список</h4>
<span>Значение нового элемента списка: </span>
<input type="text" #inputFillingList
  (keyup.enter)="addListItem(inputFillingList.value)">
<button (click)="addListItem(inputFillingList.value)">Добавить</button>
<ul>
  <li *ngFor="let item of fillingList">
    {{ item }}
  </li>
</ul>

<div class="container">
  <h3>Регистрация пользователя. По одной ошибке на контрол</h3>
  <form>
    <div class="form-group">
      <label for="name">Имя</label>
      <!--Каждый элемент использует id для связи с label'ом
        и атрибут name для того, чтобы AngularForm ассоциировал
        элемент управления с формой-->
      <input type="text" class="form-control" id="name"
        required [(ngModel)]="model.name" name="name" #name="ngModel">
      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
        Поле имя обязательное для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="age">Возраст</label>
      <input type="number" class="form-control" id="age"
        [(ngModel)]="model.age" name="age" required #age="ngModel">
      <div [hidden]="age.valid || age.pristine" class="alert alert-danger">
        Поле возраст обязательное для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="role">Роль</label>
      <select class="form-control" id="role" required
        [(ngModel)]="model.role" name="role">
        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default">Отправить</button>
    <p>
      {{ diagnostic }}
    </p>
  </form>
</div>

<div class="container">
  <span>Испытываемый инпут: </span>
  <input type="text" [(ngModel)]="data" #myinput required><br/>
  <p>Стили инпута: <b>{{ myinput.className }}</b></p>
  <p>Обратите внимание на изменение классов инпута при следующих действиях:</p>
  <ul>
    <li>Кликните на поле ввода - потом за его пределами <i>(ng-untouched -> ng-touched)</i></li>
    <li>Введите значение в поле ввода <i>(ng-pristine -> ng-dirty)</i></li>
    <li>Удалите значение из поля ввода <i>(ng-valid -> ng-invalid)</i></li>
  </ul>
</div>

<div class="container">
  <h3>Регистрация пользователя. Несколько ошибок на контрол</h3>
  <!--Angular автоматически устанавливает директиву ngForm для всех форм-->
  <form (ngSubmit)="onSubmitFewErrors()" #userform="ngForm">
    <div class="form-group">
      <label for="nameFewErrors">Имя</label>
      <!--Каждый элемент использует id для связи с label'ом
        и атрибут name для того, чтобы AngularForm ассоциировал
        элемент управления с формой-->
      <input type="text" class="form-control" id="nameFewErrors"
        required="required" minlength="4"
        [(ngModel)]="modelFewErrors.name" name="name" #nameFewErrors="ngModel">
      <div *ngIf="nameFewErrors.errors && (nameFewErrors.dirty || nameFewErrors.touched)" class="alert alert-danger">
        <div [hidden]="!nameFewErrors.errors.required">
          Поле имя обязательное для заполнения
        </div>
        <div [hidden]="!nameFewErrors.errors.minlength">
          Минимум 4 символа
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="ageFewErrors">Возраст</label>
      <input type="number" class="form-control" id="ageFewErrors"
        [(ngModel)]="modelFewErrors.age" name="age" required #ageFewErrors="ngModel">
      <div [hidden]="ageFewErrors.valid || ageFewErrors.pristine" class="alert alert-danger">
        Поле возраст обязательное для заполнения
      </div>
    </div>
    <div class="form-group">
      <label for="roleFewErrors">Роль</label>
      <select class="form-control" id="roleFewErrors" required
        [(ngModel)]="modelFewErrors.role" name="role">
        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!userform.form.valid">Отправить</button>
    <p>
      {{ diagnosticFewErrors }}
    </p>
  </form>
</div>

<div class="container">
  <h3>Регистрация пользователя. Все ошибки формы одним объектом</h3>
  <!--Angular автоматически устанавливает директиву ngForm для всех форм-->
  <form (ngSubmit)="onSubmitEf()" #userformEf="ngForm" novalidate>
    <div class="form-group">
      <label for="nameEf">Имя</label>
      <!--Каждый элемент использует id для связи с label'ом
        и атрибут name для того, чтобы AngularForm ассоциировал
        элемент управления с формой-->
      <input type="text" class="form-control" id="nameEf"
        required minlength="4" [(ngModel)]="modelEf.name" name="name" #nameEf="ngModel">
      <div *ngIf="formErrors.name" class="alert alert-danger">
        {{ formErrors.name }}
      </div>
    </div>
    <div class="form-group">
      <label for="ageEf">Возраст</label>
      <input type="number" class="form-control" id="ageEf"
        [(ngModel)]="modelEf.age" name="age" required #ageEf="ngModel">
      <div *ngIf="formErrors.age" class="alert alert-danger">
        {{ formErrors.age }}
      </div>
    </div>
    <div class="form-group">
      <label for="roleEf">Роль</label>
      <select class="form-control" id="roleEf" required
        [(ngModel)]="modelEf.role" name="role" #roleEf="ngModel">
        <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!userformEf.form.valid">Отправить</button>
    <p>
      {{ diagnosticEf }}
    </p>
  </form>
</div>
